
@media print {
    @page {
        size: 1in .47in !important;
        margin: 0 !important;
    }

    #barcode{
        display: block !important;
        width: 30px !important;
    }

    #barcodeLabel{
        font-size: 10px !important;
    }


}

