

.paper-container{
    margin-top: 12vh;
    margin-left: -15vw;
}

.userAvatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
}

.logo{
    width: 20vw;
    margin-top: 30vh;
    margin-left: -22vw;
}

.login-title-container{
    margin-left: 2vw;
    margin-top: 2vh;
}

.login-text{
    font-weight: bold;
}

.login-header{
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}

.login-btn-container{
    text-align: center;
    margin-top: 2vh;
}

.login-btn{
    background-color: #101e47 !important;
    height: 8vh !important;
    width: 100%;
    border-radius: 30px !important;
}




@media screen and (max-width: 1600px) {
    .paper-container{
        margin-top: 10vh;
    }

    .logo{
        width: 20vw;
        margin-top: 23vh;
        margin-left: -20vw;
    }
}
