.sideImg{
    height: 100vh !important;
}

.paper-container{
    margin-top: 10vh;
    margin-left: -15vw;
}

.logo-container{

}

.userAvatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
}

.logo{
    width: 20vw;
    margin-top: 25vh;
    margin-left: -20vw;
}

.login-title-container{
    margin-left: 2vw;
    margin-top: 2vh;
}

.login-text{
    font-weight: bold;
}

.login-header{
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}

.login-btn-container{
    text-align: center;
    margin-top: 2vh;
}

.login-btn{
    background-color: #101e47 !important;
    height: 8vh !important;
    width: 100%;
    border-radius: 30px !important;
}




@media screen and (max-width: 1024px) {
    .hr{
        display: none !important;
    }
    .paper-container{
        margin-top: 5vh;
        border: 1px solid white;
        width: 90vw;
        margin-left: -15vw;
        box-shadow: 1px 1px 1px white !important;
    }

    .flex{
        flex-direction: column !important;
    }

    .title{
        font-size: 3vw !important;
        margin-left: 20vw !important;
    }

    .logo{
        width: 20vw;
        margin-left: 32vw !important;
    }

    .password-input{
        font-size: 3vh !important;
        height: 7vh;
    }

    .login-header{
        display: none !important;
    }

    .login-btn-container{
        text-align: center;
        margin-top: 2vh;
    }

    .login-btn{
        width: 70vw;
        height: 7vh;
        margin-top: 2vh;
        font-size: 3vw !important;
        font-weight: bold !important;
    }

}

@media screen and (max-width: 600px){
    .paper-container{
        margin-top: 7vh;
        margin-left: -3vw;
    }
}

@media screen and (max-width: 412px){
    .paper-container{
        margin-top: 7vh;
        margin-left: 1vw;
    }
    .login-btn{
        width: 60vw;
        height: 7vh;
        margin-top: 2vh;
    }
}