@import url('https://fonts.googleapis.com/css?family=Righteous|Montserrat|Neucha&display=swap');

@media print {
    .routingSlipContent{
        margin: 1vw;
    }

    .formNumber{
        font-size: 0.8rem !important;
    }

    .routingTitle{
        font-size: 2rem;
        margin-bottom: -2vh !important;
    }
    .note{
        margin-left: 5vw !important;
        display: block !important;
        border: 1px solid #000 !important;
        padding: 10px !important;
        margin-right: 5vw !important;
    }

    .note2{
        margin-left: 5vw !important;
        display: block !important;
        padding: 10px !important;
        margin-right: 5vw !important;
        margin-bottom: -2vh !important;
    }

    .note3{
        display: block !important;
        padding: 10px !important;
        margin-right: 5vw !important;
    }

    .originatorInfo{
        display: flex;
        flex-direction: row;
        margin-left: 5vw !important;
        margin-right: 5vw !important;
        padding: 10px !important;
        border-top: 1px solid #000 !important;
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
    }

    .input{
        margin-left: 5vw !important;
        width: 20vw !important;
    }

    .actionRequired{
        padding: 10px !important;
        margin-top: -2vh !important;
        color: #000 !important;
        margin-left: 5vw !important;
        margin-right: 5vw !important;
        font-size: 1.2rem !important;
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
    }

    .action_req_icon{
        display: none !important;
    }

    .checkbox{
        padding: 10px !important;
        margin-top: -2vh !important;
        font-size: 1.5rem !important;
        margin-left: 5vw !important;
        margin-right: 5vw !important;
        border-left: 1px solid #000 !important;
        border-right: 1px solid #000 !important;
        border-bottom: 1px solid #000 !important;
    }

    .tableContainer{
        margin-left: 5vw !important;
        margin-right: 5vw !important;

    }

    .tableContainer .table{
        font-size: 1.2rem !important;
    }

    .jumbotron{
        background: #fff !important;
    }

    .barcode{
        display: block !important;
    }

    .barcodeContainer{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        margin-left: 3vw !important;
    }

    .office{
        margin-top: 1vh !important;
        margin-bottom: -2px !important;
        font-size: 1.5rem !important;
    }

    .multiBarcode{
        margin-left: 3vw !important;
    }

}